In [1]:
# Import the required packages
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier
from sklearn import linear_model, model_selection
from matplotlib.colors import ListedColormap
from sklearn.linear_model import LinearRegression, LogisticRegression, Perceptron, Ridge
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, mean_squared_error, r2_score

from sklearn.metrics import accuracy_score, f1_score, precision_score, confusion_matrix, recall_score, mean_squared_error, classification_report
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split, GridSearchCV
%matplotlib inline

In [2]:
# load the given labels
breed = pd.read_csv('../data/breed_labels.csv')
color = pd.read_csv('../data/color_labels.csv')
state = pd.read_csv('../data/state_labels.csv')

In [3]:
original_df = pd.read_csv('../data/train.csv')

In [4]:
original_df

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,Description,AdoptionSpeed,PID
0,2,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,41326,Nibble is a 3+ month old ball of cuteness. He ...,2,0
1,1,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,41401,"Good guard dog, very alert, active, obedience ...",2,3
2,1,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41326,This handsome yet cute boy is up for adoption....,2,4
3,2,3,266,0,2,5,6,0,2,1,2,2,2,1,1,0,41326,This is a stray kitten that came to my house. ...,2,5
4,2,12,264,264,1,1,0,0,2,3,2,2,3,1,1,300,41326,anyone within the area of ipoh or taiping who ...,1,6
5,2,2,265,0,2,6,0,0,2,2,2,2,2,1,1,0,41326,"healthy and active, feisty kitten found in nei...",1,8
6,1,2,307,0,1,1,2,7,2,1,2,1,2,1,1,0,41401,"For serious adopter, please do sms or call for...",1,10
7,2,2,265,0,3,1,6,7,1,2,2,2,3,1,7,0,41326,Hi Pet Lovers! This is my first posting and I ...,1,13
8,1,3,307,0,2,2,5,7,2,2,3,3,3,1,1,0,41401,"Lost Dog Found (Bandar Menjalara, Kepong／Taman...",2,14
9,1,78,218,205,1,1,7,0,2,2,3,3,3,1,1,0,41326,We moved out of our apartment to a landed home...,4,15
10,2,6,266,0,2,2,0,0,1,1,1,1,1,1,1,0,41326,to be spayed on /12 adorable & friendly,3,16
11,1,8,307,307,2,2,0,0,2,1,2,1,1,1,1,10,41330,shes active... she can obey wht command that u...,4,17
12,1,2,307,0,2,1,0,0,2,1,2,1,2,1,1,0,41401,This cutie dumped by it's owner at the market ...,2,18
13,2,1,266,0,3,1,2,7,1,1,2,2,2,1,5,0,41326,"Birth Date: Oct 30th Kitty 1, Melly -Female Sa...",4,19
14,1,12,307,0,2,2,7,0,2,2,2,1,1,1,1,0,41326,Godiva was rescued in Serdang residential area...,2,20
15,1,3,307,0,2,6,0,0,2,1,2,1,2,1,3,0,41326,"Three puppies abandoned on the street, picked ...",4,21
16,2,0,114,0,3,3,6,7,2,2,2,2,3,1,10,0,41401,"My cats name is Kenit, Kenot,Owen, Keyad, Manj...",4,22
17,1,10,307,117,2,1,2,7,2,2,1,1,1,1,1,0,41326,Donut is a friendly doggie and very domesticat...,4,23
18,2,3,266,0,1,2,7,0,1,1,2,1,2,1,1,0,41401,"hello cikenets fans, i just wanna inform that ...",1,24
19,2,2,285,265,1,3,0,0,2,2,2,2,2,1,1,0,41401,healthy toilet trained cute easy to look after...,1,26
20,2,1,266,0,2,1,0,0,2,1,2,2,2,1,1,0,41326,"Just saved this kitten from the street, but i ...",2,27
21,1,14,189,0,1,1,2,0,3,1,1,1,2,1,1,1,41326,"healthy and active , skinny and tall, as the m...",3,28
22,2,1,266,0,2,2,7,0,1,1,2,1,2,1,1,0,41327,This kitten found at the roadside. Stay there ...,2,29
23,1,4,205,218,3,2,7,0,1,2,1,1,1,1,2,0,41326,Benji and his sister Kimi are a handsome pair ...,3,30
24,2,1,266,0,1,1,0,0,1,1,2,2,2,1,1,0,41361,tataO betine ke jantan...ank pd ibu gak,1,31
25,1,24,307,0,1,5,7,0,2,1,1,1,2,1,5,0,41326,Boiboi is rescued by my daughter 2 years ago f...,4,32
26,2,24,265,292,2,1,4,0,2,2,1,1,3,1,3,0,41326,she fat n healthy. in door cat,4,36
27,2,2,265,0,2,2,0,0,1,2,2,2,2,1,1,0,41326,si comel ini memerlukan seseorang yang boleh m...,1,37
28,1,12,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41336,"This is Whisky, rescued from the streets. He i...",1,38
29,1,12,307,0,1,5,0,0,2,2,1,1,2,1,1,0,41326,-playful -energetic dog -friendly and easily a...,3,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10552,1,11,307,0,1,2,7,0,1,1,3,3,3,1,1,0,41326,Silky is found and abandoned. He is a mixed te...,3,14948
10553,1,2,307,0,1,3,0,0,2,1,1,1,2,1,1,0,41326,These puppies are rescued in Sungai Long . The...,4,14949
10554,1,3,307,0,2,2,0,0,2,2,1,1,2,1,1,200,41326,A RM deposit will be collected upon adoption. ...,2,14950
10555,2,2,265,0,2,1,0,0,1,2,2,1,2,1,1,0,41324,Kucing ini di jumpai oleh seorang kawan di had...,2,14951
10556,2,12,266,0,2,1,0,0,2,1,1,1,1,1,3,50,41342,They are abandoned cats and now waiting for yo...,4,14953
10557,1,0,307,307,3,2,7,0,1,2,2,2,2,1,5,5,41326,Very small puppies,4,14954
10558,2,6,265,0,2,1,3,7,2,2,3,3,3,1,1,0,41326,Active. Likes to play with a shuttlecock. Not ...,2,14958
10559,1,48,83,0,1,5,0,0,1,2,1,1,1,1,1,0,41326,"Hi, I'm King. DOB: Feb Adoption fee applies. F...",2,14959
10560,2,1,303,0,2,1,2,7,1,2,2,2,2,1,1,0,41326,stray kitten together with 4 other siblings. n...,2,14960
10561,2,6,276,0,1,1,0,0,2,2,2,2,2,1,1,50,41326,"Pls adopt this cat, mix maincoone, so active.....",1,14963
10562,2,36,265,0,1,6,7,0,2,2,1,1,2,1,1,0,41401,"He's lovely, calm, friendly, quiet, sweet, int...",4,14964
10563,2,1,265,0,1,1,2,0,1,2,2,2,2,1,1,0,41326,stray kitten together with 4 other siblings. n...,2,14966
10564,2,24,265,0,2,2,4,0,1,2,1,1,1,1,1,0,41326,"Doremon is a very LOVING, HEALTHY, PLAYFUL AND...",1,14967
10565,2,2,266,0,3,3,7,0,2,1,2,2,2,1,2,30,41326,Can anyone give these cute kittens a loving an...,4,14968
10566,2,10,266,0,1,1,7,0,2,1,1,1,1,1,1,0,41326,Found this cat near my office few months ago w...,4,14969
10567,2,5,265,0,1,3,7,0,3,2,3,1,2,1,1,0,41332,Omari is a well behaved house cat with soft fl...,3,14971
10568,2,2,266,0,1,6,0,0,2,1,2,1,2,1,1,0,41401,"kofi's clever, cute, and compact.As a testamen...",1,14972
10569,1,2,307,307,2,2,7,0,2,2,2,2,2,1,1,0,41326,For Adoption,2,14973
10570,1,2,307,0,1,1,2,7,2,1,3,3,2,1,1,0,41326,It is my home away dogs born. Dog mother to ta...,2,14974
10571,1,24,307,0,2,2,7,0,2,2,1,1,1,1,1,0,41327,She was hand raise since she was 2 days old. S...,4,14975
10572,2,84,264,264,3,1,7,0,2,2,1,1,1,1,2,50,41326,hey there 2 ekor kucing yang sudah lama dibela...,3,14976
10573,2,3,254,0,2,1,2,7,1,2,2,2,2,1,1,0,41326,"Very friendly, close to human, could be good f...",4,14977
10574,1,4,307,0,2,2,0,0,2,1,1,1,1,1,1,0,41401,These puppies were rescued from factory area.....,4,14978
10575,1,24,307,307,2,2,0,0,3,1,1,1,3,1,1,0,41326,I found her by the side of the road and too he...,4,14980
10576,1,8,307,0,2,2,7,0,2,2,2,2,2,1,1,0,41326,Patch is for free adoption. If you want to ado...,3,14981
10577,1,3,307,0,1,1,2,7,2,2,1,1,2,1,1,0,41326,He is very intelligent and cute. Fluffy and lo...,2,14983
10578,1,24,179,307,1,2,3,7,2,2,3,3,2,1,1,0,41326,been at my place for a while..am hoping to fin...,4,14985
10579,2,2,266,0,3,1,0,0,2,2,2,2,2,1,4,0,41326,I have 4 kittens that need to be adopt urgentl...,2,14988
10580,2,9,266,0,2,4,7,0,1,1,1,1,1,1,1,0,41336,she is very shy..adventures and independent..s...,4,14991
10581,1,1,307,307,1,2,0,0,2,1,2,2,2,1,1,0,41332,Fili just loves laying around and also loves b...,3,14992

In [5]:
original_df.columns

Index(['Type', 'Age', 'Breed1', 'Breed2', 'Gender', 'Color1', 'Color2',
       'Color3', 'MaturitySize', 'FurLength', 'Vaccinated', 'Dewormed',
       'Sterilized', 'Health', 'Quantity', 'Fee', 'State', 'Description',
       'AdoptionSpeed', 'PID'],
      dtype='object')

In [6]:
def transform_data(train_data_fname, test_data_fname):
    def transform_columns(df):
        df = df.drop(["Description"], axis=1)
        df.Type = df.Type.replace({1: 'Dog', 2: 'Cat'})
        df.Gender = df.Gender.replace({1:'Male', 2:'Female', 3:'Mixed'})
        df.MaturitySize = df.MaturitySize.replace({1:'S', 2:'M', 3:'L', 4:'XL', 0:'N/A'})
        df.FurLength = df.FurLength.replace({1:'S', 2:'M', 3:'L', 0:'N/A'})
        df.Vaccinated = df.Vaccinated.replace({1:'T', 2:'N', 3:'N/A'})
        df.Dewormed = df.Dewormed.replace({1:'T', 2:'F', 3:'N/A'})
        df.Sterilized = df.Sterilized.replace({1:'T', 2:'F', 3:'N/A'})
        df.Health = df.Health.replace({1:'Healthy', 2: 'MinorInjury', 3:'SeriousInjury', 0: 'N/A'})
        df.Color1 = df.Color1.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Color2 = df.Color2.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Color3 = df.Color3.replace(dict(list(zip(color.ColorID, color.ColorName)) + [(0, "N/A")]))
        df.Breed1 = df.Breed1.replace(dict(list(zip(breed.BreedID, breed.BreedName)) + [(0, "N/A")]))
        df.Breed2 = df.Breed2.replace(dict(list(zip(breed.BreedID, breed.BreedName)) + [(0, "N/A")]))
        return df
    
    df_train = pd.read_csv(train_data_fname)
    df_train = transform_columns(df_train)
    df_test = pd.read_csv(test_data_fname)
    df_test = transform_columns(df_test)
    
    df = pd.concat([df_train, df_test], sort=True)

    # set dummy variables for everything
    # except from Age, Quantity, Fee
    df = pd.get_dummies(df)
    # get train and test back
    n = len(df_train)
    df_train = df.iloc[:n]
    df_test = df.iloc[n:]
    
    y = df_train['AdoptionSpeed']
    X = df_train.drop('AdoptionSpeed', axis=1)
    yy = None
    XX = df_test.drop('AdoptionSpeed', axis=1)

    return X, y, XX, yy

In [7]:
X, y, XX, yy = transform_data("../data/train.csv", "../data/test.csv")

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [9]:
XX.head()

,Age,Fee,PID,Quantity,State,Breed1_Abyssinian,Breed1_Affenpinscher,Breed1_Airedale Terrier,Breed1_Akita,Breed1_American Bulldog,...,MaturitySize_S,MaturitySize_XL,Sterilized_F,Sterilized_N/A,Sterilized_T,Type_Cat,Type_Dog,Vaccinated_N,Vaccinated_N/A,Vaccinated_T
0,1,0,1,1,41401,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
1,1,0,2,1,41326,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
2,0,0,7,6,41326,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
3,12,0,9,1,41326,0,0,0,0,0,...,0,0,0,1,0,1,0,0,1,0
4,3,50,11,1,41326,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1

In [10]:
from sklearn import linear_model
from sklearn.linear_model import SGDClassifier

np.random.seed(14)

In [12]:
predictoras2=XX[['Age', 'Sterilized_T', 'Vaccinated_T', 'Gender_Male', 'Dewormed_T']]

In [13]:
predic_train=X_train[['Age', 'Sterilized_T', 'Vaccinated_T', 'Gender_Male', 'Dewormed_T']]

In [14]:
predic_valid=X_valid[['Age', 'Sterilized_T', 'Vaccinated_T', 'Gender_Male', 'Dewormed_T']]

In [18]:
forest=RandomForestClassifier(n_estimators=25)

In [19]:
forest2=forest.fit(predic_train, y_train)

In [20]:
print('Exactitud para entrenamiento: %.2f' %  accuracy_score(y_train, forest.predict(predic_train)))
print('Exactitud para validación: %.2f' % accuracy_score(y_valid, forest.predict(predic_valid)))

Exactitud para entrenamiento: 0.40
Exactitud para validación: 0.32

In [23]:
#Accuracy otra forma de calcularlo
forest2.score(predic_train, y_train)

0.3997569866342649

In [24]:
#Accuracy
forest2.score(predic_valid, y_valid)

0.3168503937007874

In [26]:
model = ExtraTreesClassifier()

In [28]:
model.fit(predic_train, y_train)

C:\Users\Usuario\Miniconda3\envs\diplodatos\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [29]:
print(model.feature_importances_)

[0.78727386 0.10506576 0.04270425 0.02950057 0.03545556]

In [30]:
predictions2 = forest2.predict(predictoras2)

In [31]:
predicciones_df = pd.DataFrame(predictions2, columns=['Pred'])
predicciones_df.head() # predicciones de las primeras 5 lineas

   Pred
0   1.0
1   2.0
2   1.0
3   4.0
4   2.0

In [32]:
yy = predictions2.astype(np.int)

In [33]:
submissionRF2 = pd.DataFrame(list(zip(XX.PID, yy.astype(np.int))), columns=["PID", "AdoptionSpeed"])

In [34]:
submissionRF2.to_csv("../data/submission6.csv", header=True, index=False)

In [35]:
submissionRF2['AdoptionSpeed'].value_counts()

2    2174
4    1338
1     498
3     374
0      27
Name: AdoptionSpeed, dtype: int64

In [36]:
submissionRF2.describe()

                PID  AdoptionSpeed
count   4411.000000    4411.000000
mean    7541.519157       2.566311
std     4369.698456       1.055957
min        1.000000       0.000000
25%     3704.500000       2.000000
50%     7560.000000       2.000000
75%    11344.000000       4.000000
max    14990.000000       4.000000